lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

local.properties


*.iml
android/GameCircleSDK/.gradle
android/GameCircleSDK/local.properties
android/GameCircleSDK/.idea
android/GameCircleSDK/build/android-profile
android/freshchat_sdk/captures

.DS_Store
android/GameCircleSDK/DS_Store

!/android/GameCircleSDK/gamecirclesdk/build
/android/GameCircleSDK/gamecirclesdk/build/*
!/android/GameCircleSDK/gamecirclesdk/build/outputs
/android/GameCircleSDK/gamecirclesdk/build/outputs/*
!/android/GameCircleSDK/gamecirclesdk/build/outputs/aar


