lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

local.properties

# Gradle
.gradle

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

android/GameCircleSDKLibrary/.gradle
android/GameCircleSDKLibrary/local.properties
android/GameCircleSDKLibrary/.idea
android/GameCircleSDKLibrary/.idea/
android/GameCircleSDKLibrary/build/android-profile
android/GameCircleSDKLibrary/captures

.DS_Store
android/GameCircleSDK/DS_Store

!/android/GameCircleSDKLibrary/GameCircleSDK/build
/android/GameCircleSDKLibrary/GameCircleSDK/build/*
!/android/GameCircleSDKLibrary/GameCircleSDK/build/outputs
/android/GameCircleSDKLibrary/GameCircleSDK/build/outputs/*
!/android/GameCircleSDKLibrary/GameCircleSDK/build/outputs/aar


